<h1 class="name">{{ site.title }}</h1>

<p>
    I’ve been everywhere (well, in tech terms). 
    From building mobile platforms at Shopify to tinkering with machine learning at Square and now crafting smarter financial tools at Wealthsimple, I’m like a Swiss Army knife of AI, data, and entrepreneurial ambition. 
    I take on big problems, brew strong coffee, and occasionally dream up ideas that are borderline genius (or so my mom says).
</p>

<div class="ps">
    p.s. Check out my latest <a href="#">project</a>
</div>
