<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const links = document.querySelectorAll('nav a');
        links.forEach(link => {
					link.addEventListener('click', function(e) {
						const href = this.getAttribute('href');
						if (href.startsWith('#')) {
							e.preventDefault();
							const targetId = href.substring(1);
							const targetElement = document.getElementById(targetId);
							if (targetElement) {
									targetElement.scrollIntoView({ behavior: 'smooth' });
							}
						}
					});
				});
			});
	</script>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="#about">About</a></li>
				<li><a href="#work-experience">Work</a></li>
				<li><a href="https://github.com/ali-abdullah">Github</a></li>
				<li><a href="{{ '/assets/resume.pdf' | relative_url }}" target="_blank">Résumé</a></li>
			</ul>
		</nav>
	</header>

	<main>
		{{ content }}
	</main>

	<footer>
		<p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
	</footer>
</body>

</html>